:root{

    --forgot-primary:#2E8B57;
    --forgot-hover:#236B43;
    --forgot-background:#F4F7F5;

}


/* ONLY FOR FORGOT PAGE */

.forgot-page{

    min-height:100vh;

    background:var(--forgot-background);

    display:flex;

    justify-content:center;

    align-items:center;

    font-family:"Inter",Arial,sans-serif;

}





.forgot-container{


    width:430px;

    background:white;

    padding:40px;

    border-radius:32px;


    box-shadow:
    0 25px 70px rgba(0,0,0,.18);


}






.forgot-logo-box{


    width:75px;

    height:75px;


    background:#EAF6EF;


    border-radius:50%;


    margin:auto;


    display:flex;

    justify-content:center;

    align-items:center;


}



.forgot-logo-box img{


    width:55px;

    height:55px;

    object-fit:contain;


}







.forgot-title{


    text-align:center;

    margin-top:25px;

    margin-bottom:30px;


}




.forgot-title h2{


    color:#222;


}



.forgot-title p{


    color:#888;

    margin-top:8px;

    font-size:14px;


}






.forgot-form-group{


    margin-bottom:20px;


}




.forgot-label{


    font-size:14px;

    color:#444;

    display:block;


}




.forgot-input{


    width:100%;


    padding:14px;


    margin-top:8px;


    border:1px solid #ddd;


    border-radius:14px;


    outline:none;


}



.forgot-input:focus{


    border-color:var(--forgot-primary);


}






.forgot-submit-btn{


    width:100%;


    padding:15px;


    border:none;


    border-radius:14px;


    background:var(--forgot-primary);


    color:white;


    font-size:16px;


    cursor:pointer;


}



.forgot-submit-btn:hover{


    background:var(--forgot-hover);


}







.forgot-back-login{


    text-align:center;


    margin-top:20px;


}



.forgot-back-login a{


    color:var(--forgot-primary);


    text-decoration:none;


    font-weight:600;


}